# Copia este archivo como .env y rellena con tus credenciales
# NUNCA subas el archivo .env a GitHub

MONGODB_URI=mongodb+srv://TU_USUARIO:TU_PASSWORD@cluster0.xxxxx.mongodb.net/taskdb?retryWrites=true&w=majority
PORT=3000
